.comment {
  width: 100%;
  display: grid;
  flex-direction: column;
  padding: 8px 16px;
  gap: 8px;
  grid-gap: 8px;
  &__text {
    font-size: 14px;
    color: #222222;
    margin-bottom: 8px;
  }
}

.comment__author {
  &-wrapper {
    align-items: center;
    display: flex;
  }
  &-image {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }
  &-info {
    margin-right: auto;
  }
  &-name {
    font-size: 14px;
    font-weight: 600;
  }
  &-date {
    font-size: 12px;
    color: #7f7f7f;
  }
  &-dots {
    background: none;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.comment__response {
  &-wrapper {
    padding-left: 8px;
    border-left: 2px solid #eaeaea;
  }
  &-author {
    color: #7f7f7f;
    font-size: 12px;
    margin-bottom: 5px;
  }
  &-author b {
    font-weight: 500;
  }
  &-text {
    font-size: 12px;
    color: #505050;
  }
}

.comment__bottom {
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    position: relative;
  }
  &-button {
    background-color: #f4f4f4;
    color: #222222;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    padding: 8px;
    font-size: 12px;
    height: 32px;
    &:hover {
      background-color: #eaeaea;
    }
  }
}

.comment__rating {
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
  &-button {
    padding: 10px;
    border-radius: 3px;
    background-color: #f4f4f4;
    color: #d8d8d8;
    border: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #eaeaea;
    }
    svg path {
      fill: #222222;
    }
  }
  &-text {
    width: 48px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: default;
  }
  &-extra {
    position: absolute;
    right: 0px;
    bottom: 35px;
    z-index: 2;
    width: 120px;
    height: 37px;
    padding: 0px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #d6d2d2 solid 1px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    span {
      width: 0.5px;
      height: 16px;
      background-color: #d8d8d8;
    }
  }
  &-extra::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 3;
    bottom: -9px;
    left: 50px;
  }
  &-extra::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #d6d2d2 transparent;
    display: block;
    width: 0;
    z-index: 2;
    bottom: -10px;
    left: 50px;
  }
  &-extra-plus,
  &-extra-minus {
    width: 52px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
  }
  &-extra-plus {
    color: #00a876;
  }
  &-extra-minus {
    color: #ff003c;
  }
}

.comment__rating-text:hover ~ .comment__rating-extra {
  display: flex;
}

@media screen and (min-width: 744px) {
  .comment {
    border-bottom: 0.5px solid #eaeaea;
    &__text {
      font-size: 16px;
    }
  }
  .comment__author {
    &-name {
      font-size: 16px;
    }
    &-date {
      font-size: 14px;
    }
  }
  .comment__response {
    &-author {
      font-size: 14px;
    }
    &-text {
      font-size: 14px;
    }
  }
  .comment__bottom {
    &-wrapper {
      margin-bottom: 16px;
    }
  }
}
